body {
    background-image: url(/assests/images/bg.png);
    background-size: cover;
  }
  
  @font-face {
    font-family: "cooper-black";
    src: url(/assests/fonts/COOPBL.woff);
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    /* padding: 20px; */
    margin-top: 10%;
    overflow: hidden;
    border-radius: 50px;
    border: 3px solid #B473DD;
  }
  
  label {
    font-family: 'cooper-black', serif;
    font-size: 18px;
    color: #4C4B4D;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right: 15px;
    float: left;
  }
  
  input {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    /* margin-top: 10px; */
  }
  
  input::placeholder {
    font-family: 'cooper-black', serif;
    /* font-size: 80%; */
    opacity: 0.4;
  
  }
  .password-visibility {
    position: relative;
    top: -39px;
    left: 92%;
    cursor: pointer;
    font-size: 17px;
  }
  
  .signup-grid {
    display: grid;
    grid-template-columns: 0.1fr 1.5fr 8fr;
    grid-gap: 10px;
  }
  
  .signup-text {
    /* margin-top: 30px; */
    grid-column: 1 / 4;
    text-align: center;
  }
  
  
  .signup-text1 span {
    color: #3c79a7;
    font-weight: 600;
    cursor: pointer;
  }
  
  .signup-form {
    grid-column: 2 / 4;
    /* align-content: center; */
  }
  
  .signup {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-text h1,
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #4C4B4D;
    font-family: 'cooper-black', serif;
  
  }
  
  .signup-text h2 {
    color: #B473DD;
  }
  
  .signup-text a {
    color: #3F5EFF;
  }
  
  .signup-role {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 40%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-group {
    margin-top: .0001px;
    margin-bottom: 20px;
    /* align-content: center; */
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  button {
    /* position:; */
    /* display: ; */
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    padding: 1em;
    width: 43%;
    color: white;
    border-radius: 5px;
    font-family: 'cooper-black', serif;
    margin-top: 20px;
    cursor: pointer;
    /* justify-content: space-between;    */
    margin-bottom: 40px;
  }
  
  .submit {
    color: white;
    border-radius: 10px;
    background: #798CF2;
  }
  
  .reset {
    margin-left: 10px;
    border-radius: 10px;
    background: #E85E5E;
  }
  
  button:hover {
    transform: scale(0.98);
  }
  
 .forgot-password a {
    text-decoration: none;
    color: #6C6770;
 }